[submodule "externals/adept-utils"]
	path = externals/adept-utils
        url = https://github.com/scalability-llnl/adept-utils.git
#	url = ssh://git@cz-stash.llnl.gov:7999/scale/adept-utils.git
[submodule "externals/wrap"]
	path = externals/wrap
	url = https://github.com/scalability-llnl/wrap.git
#	url = ssh://git@cz-stash.llnl.gov:7999/scale/wrap.git
#	branch = fortran-fixes
[submodule "externals/CMake-codecov"]
	path = externals/CMake-codecov
	url = git://github.com/RWTH-HPC/CMake-codecov.git
[submodule "externals/CMake-sanitizers"]
	path = externals/CMake-sanitizers
	url = git://github.com/arsenm/sanitizers-cmake.git
[submodule "externals/CMake-MPIhelper"]
	path = externals/CMake-MPIhelper
	url = git://github.com/RWTH-HPC/CMake-MPIhelper.git
[submodule "externals/CMake-argp"]
	path = externals/CMake-argp
	url = git://github.com/alehaa/CMake-argp.git
[submodule "externals/CMake-gitinfo"]
	path = externals/CMake-gitinfo
	url = git://github.com/RWTH-HPC/CMake-gitinfo.git
[submodule "externals/CMake-easylib"]
	path = externals/CMake-easylib
	url = git://github.com/alehaa/CMake-easylib.git
[submodule "externals/CMake-CChelper"]
	path = externals/CMake-CChelper
	url = git://github.com/alehaa/CMake-CChelper.git
