[submodule "externals/adept-utils"]
	path = externals/adept-utils
	url = https://github.com/llnl/adept-utils.git
[submodule "externals/wrap"]
	path = externals/wrap
	url = https://github.com/llnl/wrap.git
[submodule "externals/CMake-codecov"]
	path = externals/CMake-codecov
	url = https://github.com/RWTH-HPC/CMake-codecov.git
[submodule "externals/CMake-sanitizers"]
	path = externals/CMake-sanitizers
	url = https://github.com/arsenm/sanitizers-cmake.git
[submodule "externals/CMake-MPIhelper"]
	path = externals/CMake-MPIhelper
	url = https://github.com/RWTH-HPC/CMake-MPIhelper.git
[submodule "externals/CMake-argp"]
	path = externals/CMake-argp
	url = https://github.com/alehaa/CMake-argp.git
[submodule "externals/CMake-gitinfo"]
	path = externals/CMake-gitinfo
	url = https://github.com/RWTH-HPC/CMake-gitinfo.git
[submodule "externals/CMake-easylib"]
	path = externals/CMake-easylib
	url = https://github.com/alehaa/CMake-easylib.git
[submodule "externals/CMake-CChelper"]
	path = externals/CMake-CChelper
	url = https://github.com/alehaa/CMake-CChelper.git
[submodule "externals/CMake-easytest"]
	path = externals/CMake-easytest
	url = https://github.com/RWTH-HPC/CMake-easytest.git
[submodule "externals/CMake-gitpack"]
	path = externals/CMake-gitpack
	url = https://github.com/RWTH-HPC/CMake-gitpack.git
